body {
    background-color: #f4f1de;
    font-family: 'Open Sans', sans-serif;
  }
.questions, #title {
    text-align: center;
    color: #3d405b;
}
span {
    border: 4px solid #3d405b;
    border-radius: 25px;
    display: inline-block;
    padding: 15px;
}

.menu {   
    text-align: center;
    color: #e76f51;
    border-bottom: none;
}


.center {
    margin-top: 18%;
  }

  a {
    border-bottom: 4.5px dotted #3d405b;
    color: #3d405b;
    text-decoration: none;
  }

  a:hover {
    color: #81b29a;
  }

  p {
    text-align: center;
    margin-top: 20px;
    font-size: larger;
  }

  